# Compiled object files, libraries, and executables
*.o
*.ko
*.obj
*.elf
*.so
*.dylib
*.out
main
main.dsym/

# macOS specific files
.DS_Store

# Build and dependency directories
build/
dependencies/
bin/

# IDE specific files
.vscode/
.idea/

#model files
min_y_values.json
saved_models/
__pycache__/
```

